<!DOCTYPE html>
{% load static %}

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Storage</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link" href="{% url 'storages' %}">Storages</a>
              <a class="nav-link" href="{% url 'purchase' %}">Purchase</a>
              <a class="nav-link" href="{% url 'sale' %}">Sale</a>
              <a class="nav-link" href="#">Actions</a>
          </div>
        </div>
    </div>
  </nav>

      
  <table border="1">
      {% for storage in storages %}
          <tr>
          <td>Склад</td>
          <td>Штука</td>
          <td>Сумма</td>
          </tr>
          <tr>
              <td>{{ storage.name }}</td>
          </tr>
          {% for product in products %}
          <tr>
              <td>{{ product.name }}</td>
              {% comment %} <td>{{ product.quantity }}</td> {% endcomment %}
              <td>{{ product.quantity }}</td>
          </tr>
          {% endfor %}
      {% endfor %}
      <tr>
          <td>...</td>
          <td>...</td>
          <td>...</td>
      </tr>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Склад</th>
        <th scope="col">Штука</th>
        <th scope="col">Сумма</th>
      </tr>
    </thead>
    <tbody>
      {% for storage in storages %}
      <tr>
        <th scope="row">{{ storage.id }}</th>
        <td>{{ storage.name }}</td>
        {% comment %} <td>Otto</td>
        <td>@mdo</td> {% endcomment %}
      </tr>
      {% for product in products %}
      <tr>
        <th scope="row"></th>
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>@mdo</td>
      </tr>
      {% endfor %}
      {% endfor %}
    </tbody>
  </table>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>