{% extends 'base_storage.html' %}
{% load static %}

{% block title %}{{ block.super }} - Sale{% endblock title %}

{% block content %}

    <form action="{% url 'sale_product'%}" method="post">
        {% csrf_token %}
        <div class="col col_13 checkout">
            Storage:
            <select name="storage">
                <option selected>Select storage</option>
                {% for storage in storages %}
                <option value="{{ storage }}">{{ storage.name }}</option>
                {% endfor %}
            </select>
            Product:
            <select name="product">
                <option selected>Select product</option>
                {% for product in products %}
                <option value="{{ product }}">{{ product.name }}({{ product.price_per_unit }} So'm)</option>
                {% endfor %}
            </select>
            Quantity:
            <input type="number"  style="width:300px;" name="quantity"  />
            Sale price per unit:
            <input type="number"  style="width:300px;" name="sale_price_per_unit"  />
        </div>
        <button type="submit" class="">
            Sale
        </button>
    </form>

    <div>
        <p>Продажи</p>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Склад</th>
            <th scope="col">Продукт</th>
            <th scope="col">Штука</th>
            <th scope="col">Цена покупки за штуку(Сум)</th>
            <th scope="col">Цена продажи за штуку(Сум)</th>
            <th scope="col">Общая себестоимость продукта</th>
            <th scope="col">Сумма</th>
            <th scope="col">Прыбиль</th>
        </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr>
            <td>{{ sale.storage }}</td>
            <td>{{ sale.product }}</td>
            <td>{{ sale.quantity }}</td>
            <td>{{ sale.purchase_price_per_unit }}</td>
            <td>{{ sale.sale_price_per_unit }}</td>
            <td>{{ sale.total_cost_of_product }}</td>
            <td>{{ sale.total_sale_price }}</td>
            <td>{{ sale.profit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}