{% extends 'base.html' %}
{% load static %}  

{% block middle_head %}
    <div id="templatemo_middle">
        <img src="{% static 'images/templatemo_image_01.png' %}" alt="Image 01" />
        <h1>Introducing Web Store</h1>
        <p>Web Store is a free css template for your personal or commercial websites. Feel free to download, edit and use this template for any purpose.</p>
        <a href="#" class="buy_now">Browse All Products</a>
    </div> <!-- END of middle -->
{% endblock middle_head %}

{% block content %}
    <!-- Slider -->
    <div id="templatemo_main_top"></div>
    <div id="templatemo_main">
        <div id="product_slider">
            <div id="SlideItMoo_outer">	
                <div id="SlideItMoo_inner">			
                    <div id="SlideItMoo_items">

                        <div class="SlideItMoo_element">
                                <a href="#slide1" target="_parent">
                                <img src="{% static 'images/gallery/01.jpg' %}" alt="product 1" /></a>
                        </div>

                    </div>			
                </div>
            </div>
            <div class="cleaner"></div>
        </div>
        <!-- END of slider -->

        <!-- Sidebar -->
        <div id="sidebar">
            <h3>Categories</h3>
            <ul class="sidebar_menu">
                {% for category in category_list %}
                <li><a href="#">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div> <!-- END of sidebar -->

        <!-- Content -->
        <div id="content">
            {% for product in product_list %}
            <div class="col col_14 product_gallery">
                <a href="{{ product.get_absolute_url }}"><img height="170" width="170" src="{{ product.image.url }}" alt="Product 01" /></a>
                <h3>{{ product.name }}</h3>
                <p class="product_price">{{ product.price }}</p>
                <p>{{ product.after_discount }}</p>
                <a href="{% url 'add_to_cart' product.pk %}" class="add_to_cart">Add to Cart</a>
            </div>
            {% endfor %}
        </div> <!-- END of content -->
        <div class="cleaner"></div>
    </div> <!-- END of main -->
{% endblock content %}