{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} - Product Details{% endblock title %}

{% block content %}
    <div class="cleaner h20"></div>
    <div id="templatemo_main_top"></div>
    <div id="templatemo_main">
    	
        <div id="sidebar">
        	<h3>Categories</h3>
            <ul class="sidebar_menu">
                {% for category in categories %}
			    <li><a href="#">{{ category.name }}</a></li>
                {% endfor %}
			</ul>
        </div> <!-- END of sidebar -->
        
        <div id="content">
        	<h2>Product Details</h2>
            <div class="col col_13">
        	<a  rel="lightbox[portfolio]" href=""><img src="{{ product.image.url }}" height="200" width="280" alt="Image 10" /></a>
            </div>
            <form action="{% url 'add_new_cart_with_quantity' product.id %}" method="post">
            {% csrf_token %}
            <div class="col col_13 no_margin_right">
                <table>
                    <tr>
                        <td height="30" width="160">Price:</td>
                        <td>{{ product.price }}</td>
                    </tr>
                    <tr>
                        <td height="30">Model:</td>
                        <td>{{ product.short_name }}</td>
                    </tr>
                    <tr>
                        <td height="30">Manufacturer:</td>
                        <td>{{ product.brand }}</td>
                    </tr>
                    <tr><td height="30">Quantity</td><td><input type="text" value="1" name="quantity" style="width: 20px; text-align: right" /></td></tr>
                </table>
                <div class="cleaner h20"></div>
                {% comment %} <a href="shoppingcart.html" class="add_to_cart">Add to Cart</a> {% endcomment %}
                <button type="submit">Add to Cart</button>
			</div>
            </form>
            <div class="cleaner h30"></div>
            
            <h5><strong>Product Description</strong></h5>
            <p>{{ product.description }}</p>
            
            <div class="cleaner h50"></div>
            
            <h4>Other Products</h4>

        	<div class="col col_14 product_gallery">
            	<a href="product_detail.html"><img src="images/product/01.jpg" alt="Product 01" /></a>
                <h3>Ut eu feugiat</h3>
                <p class="product_price">$ 100</p>
                <a href="shoppingcart.html" class="add_to_cart">Add to Cart</a>
            </div>

            <a href="#" class="more float_r">View all</a>
            
            <div class="cleaner"></div>
        </div> <!-- END of content -->
        <div class="cleaner"></div>
    </div> <!-- END of main -->
{% endblock content %}