{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} - Products{% endblock title %}
   
{% block content %}
    <div class="cleaner h20"></div>
    <div id="templatemo_main_top"></div>
    <div id="templatemo_main">
        <div id="product_slider">
            <div id="SlideItMoo_outer">	
                <div id="SlideItMoo_inner">			
                    <div id="SlideItMoo_items">
                        {% comment %} <div class="SlideItMoo_element">
                                <a href="#1" target="_parent">
                                <img  src="images/gallery/01.jpg" alt="product 1" /></a>
                        </div>	
                        <div class="SlideItMoo_element">
                                <a href="#2" target="_parent">
                                <img src="images/gallery/02.jpg" alt="product 1" /></a>
                        </div>
                        <div class="SlideItMoo_element">
                                <a href="#3" target="_parent">
                                    <img src="images/gallery/03.jpg" alt="product 1" /></a>
                        </div>
                        <div class="SlideItMoo_element">
                                <a href="#4" target="_parent">
                                <img src="images/gallery/04.jpg" alt="product 1" /></a>
                        </div>
                        <div class="SlideItMoo_element">
                                <a href="#5" target="_parent">
                                <img src="images/gallery/05.jpg" alt="product 1" /></a>
                        </div>
                        <div class="SlideItMoo_element">
                                <a href="#6" target="_parent">
                                <img src="images/gallery/06.jpg" alt="product 1" /></a>
                        </div>
                        <div class="SlideItMoo_element">
                                <a href="#7" target="_parent">
                                <img src="images/gallery/07.jpg" alt="product 1" /></a>
                        </div>
                         {% endcomment %}
                        {% for product in product_list %}
                            <div class="SlideItMoo_element">
                                <a href="{% url 'product_detail' product.id %}" target="_parent">
                                <img src="{{ product.image.url }}" width="185" height="260" alt="product 1" /></a>
                            </div>
                        {% endfor %}
                    </div>			
                </div>
            </div>
            <div class="cleaner"></div>
        </div>
        
        <div id="sidebar">
            <h3>Categories</h3>
            <ul class="sidebar_menu">
                {% for category in category_list %}
                <li><a href="#">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div> <!-- END of sidebar -->
        
        <div id="content">
            <h2>Etiam In Tellus</h2>
            {% for product in products %}
            <div class="col col_14 product_gallery">
                <a href="{% url 'product_detail' product.id %}"><img src="{{ product.image.url }}" height="170" width="170" alt="Product 01" /></a>
                <h3>{{ product.name }}</h3>
                <p class="product_price">$ {{ product.price }}</p>
                <a href="shoppingcart.html" class="add_to_cart">Add to Cart</a>
            </div>
            {% endfor %}
            <div class="cleaner h50"></div>
        </div> <!-- END of content -->
        <div class="cleaner"></div>
    </div> <!-- END of main -->
{% endblock content %}