<!DOCTYPE html>
{% load static %}

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Storage - Purchase</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" />
</head>

<body>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="{% url 'storages' %}">Storages</a>
                    <a class="nav-link" href="{% url 'purchase' %}">Purchase</a>
                    <a class="nav-link" href="{% url 'sale' %}">Sale</a>
                    {% comment %} <a class="nav-link" href="#">Actions</a> {% endcomment %}
                </div>
            </div>
        </div>
    </nav>

    <form action="{% url 'purchase_product'%}" method="post">
        {% csrf_token %}
        <div class="">
            Storage:
            <select name="storage">
                <option selected>Select storage</option>
                {% for storage in storages %}
                <option value="{{ storage }}">{{ storage.name }}</option>
                {% endfor %}
            </select>
            Product:
            <select name="product">
                <option selected>Select product</option>
                {% for product in products %}
                <option value="{{ product }}">{{ product.name }}({{ product.purchase_price_per_unit }} so'm)</option>
                {% endfor %}
            </select>
            Quantity:
            <input type="number" style="width:300px;" name="quantity"/>
            <button type="submit" class="">
                Purchase
            </button>
        </div>
        
    </form>

    <div>
        <p>Сделанные покупки</p>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Склад</th>
            <th scope="col">Продукт</th>
            <th scope="col">Штука</th>
            <th scope="col">Цена за штуку(Сум)</th>
            <th scope="col">Общая себестоимость продукта</th>
        </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
            <td>{{ purchase.storage }}</td>
            <td>{{ purchase.product }}</td>
            <td>{{ purchase.quantity }}</td>
            <td>{{ purchase.price_per_unit }}</td>
            <td>{{ purchase.total_purchase_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>