{% load static %}
<div id="templatemo_footer">
    <div class="col col_16">
        <h4>Categories</h4>
        <ul class="footer_menu">
            {% for category in category_list %}
                <li><a href="{% url 'by_category' category.id %}">{{ category.name }}</a></li>
            {% endfor %}		
      </ul>  
    </div>
    <div class="col col_16">
        <h4>Pages</h4>
        <ul class="footer_menu">
            <li><a href="{% url 'home' %}">HoГлавнаяme</a></li>
            <li><a href="{% url 'products' %}">Продукты</a></li>
            <li><a href="{% url 'about' %}">О нас</a></li>
            <li><a href="{% url 'faqs' %}">Частые вопросы</a></li>
        </ul>  
    </div>
    <div class="col col_16">
        <h4>Партнеры</h4>
        <ul class="footer_menu">
            <li><a href="#">Партнер 1</a></li>
            <li><a href="#">Партнер 2</a></li>
            <li><a href="#">Партнер 3</a></li>
            <li><a href="#">Партнер 4</a></li>
        </ul>  
    </div>
    <div class="col col_16">
        <h4>Социальные сети</h4>
        <ul class="footer_menu">
            <li><a href="https://www.instagram.com/abdujalilovqurol/">Instagram</a></li>
            <li><a href="https://t.me/abdujalilov_qurol">Telegram</a></li>
            <li><a href="https://www.youtube.com/channel/UCuhM-3knT6DbvPcO5SPh-jg">Youtube</a></li>
      </ul>  
    </div>
    <div class="col col_13 no_margin_right">
        <h4>About Us</h4>
        <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</p>
    </div>
    
    <div class="cleaner h40"></div>
    <center>
        Copyright © 2022 PC STORE
    </center>
</div> <!-- END of footer -->  