{% load static %}
<div id="templatemo_header">
    <div id="site_title">
        <h1><a href="{% url 'home' %}">PC STORE</a></h1>
    </div>
    
    <div id="header_right">
        <div class="cleaner"></div>
        <div id="templatemo_search">
            <form action="#" method="get">
              <input type="text" value="Искать" name="keyword" id="keyword" title="keyword" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
              <input type="submit" name="Search" value="" alt="Search" id="searchbutton" title="Search" class="sub_btn"  />
            </form>
        </div>
     </div> <!-- END -->

</div> <!-- END of header -->

<div id="templatemo_menu" class="ddsmoothmenu">
    <ul>
        <li><a href="{% url 'home' %}" class="selected">Главная</a></li>
        <li><a href="{% url 'products' %}">Продукты</a></li>
        <li><a href="{% url 'about' %}">О нас</a> </li>
        <li><a href="{% url 'faqs' %}">Частые вопросы</a></li>
        <li><a href="{% url 'contact' %}">Контакты</a></li>
    </ul>
    <br style="clear: left" />
</div> <!-- end of templatemo_menu -->